# Папки сборки
bin/
obj/
log/

# Файлы пользовательских настроек
*.suo
*.user
*.userosscache
*.sln.docstates

# Файлы конфигурации
*.vs/
.vscode/

# Системные файлы
Thumbs.db
*.DS_Store

# Файлы для пакетов NuGet
*.nupkg
packages/
*.nuspec

# Сгенерированные файлы
*.pdb
*.obj
*.exe
*.dll
*.appx
*.appxbundle

# Временные файлы
*.log
*.tmp